---
const { post } = Astro.props;
const date = new Date(post.frontmatter.pubDate);
const formattedDate = new Intl.DateTimeFormat("en-US", {
  dateStyle: "medium",
}).format(date);
---

<article
  class="border border-slate-800 p-4 flex flex-col duration-150 h-full rounded-lg text-sm hover:shadow-xl"
>
  <h2 class="font-bold text-base">{post.frontmatter.title}</h2>
  <p class="mt-2 flex-1 mb-8 text-slate-600 group-hover:text-slate-200">
    {post.frontmatter.description}
  </p>
  <div class="mt-auto">
    <p>By {post.frontmatter.author}</p>
    <p>Written {formattedDate}</p>
  </div>
  <div class="flex justify-end mt-4">
    <a
      href={post.url}
      class="border border-slate-800 px-3 py-1 rounded-md hover:bg-pink-600 hover:text-slate-50"
    >
      Read more
    </a>
  </div>
</article>
