---
interface Props {
  title: string;
  screenshotUrl?: string;
  description: string;
  githubUrl: string | null;
  siteUrl: string;
  technologies?: string[];
}

const { title, screenshotUrl, description, githubUrl, siteUrl, technologies } =
  Astro.props;
---

<li
  class="flex flex-col list-none border p-4 border-slate-800 rounded-md text-sm"
>
  <h4 class="font-semibold text-base">
    {title}
  </h4>
  <p class="text-sm text-slate-600 mb-8">{description}</p>
  <div
    class="flex items-center justify-end gap-2 mt-auto transition duration-300"
  >
    {
      githubUrl && (
        <a
          href={githubUrl}
          target="_blank"
          rel="noreferrer"
          class="px-3 py-1 cursor-pointer rounded-md border border-slate-800 bg-slate-700 text-slate-50 transition-shadow duration-150 hover:bg-slate-600"
        >
          Source Code
        </a>
      )
    }
    <a
      href={siteUrl}
      target="_blank"
      rel="noreferrer"
      class="px-3 py-1 cursor-pointer rounded-md border border-slate-800 bg-slate-700 text-slate-50 hover:bg-slate-600"
      >Visit</a
    >
  </div>
  {
    technologies && (
      <div class="mt-4">
        <h5>Technologies</h5>
        {technologies.map((tech) => (
          <p>
            <span>#</span>
            {tech}
          </p>
        ))}
      </div>
    )
  }
</li>
