---
import { ProjectStatus } from './Projects.astro';

interface Props {
  title: string;
  screenshotUrl?: string;
  description: string;
  githubUrl: string | null;
  siteUrl: string;
  status: ProjectStatus;
}

const { title, description, githubUrl, status, siteUrl } = Astro.props;
---

<li
  class='flex flex-col list-none border p-4 border-neutral-800 rounded-md text-sm'
>
  <h3 class='font-semibold text-base'>
    {title}
  </h3>
  <p class='text-sm text-neutral-500 mb-8 select-none'>{description}</p>

  <div class='mt-auto transition duration-300'>
    <div class='flex gap-2 items-center justify-end'>
      {
        status === ProjectStatus.InProgress && (
          <small class='text-xs text-neutral-500 mr-auto'>{status}</small>
        )
      }
      {
        githubUrl && (
          <a
            href={githubUrl}
            target='_blank'
            rel='noreferrer'
            class='px-3 py-1 cursor-pointer rounded-md border border-neutral-800 transition-shadow duration-150 hover:bg-neutral-800'
          >
            Source Code
          </a>
        )
      }
      {
        status === ProjectStatus.Live && (
          <a
            href={siteUrl}
            target='_blank'
            rel='noreferrer'
            class='cursor-pointer px-3 py-1 rounded-md border border-neutral-800 hover:bg-neutral-800'
          >
            Visit
          </a>
        )
      }
    </div>
  </div>
</li>
