---
import type { ProjectStatus } from "./Projects.astro";

interface Props {
  title: string;
  screenshotUrl?: string;
  description: string;
  githubUrl: string | null;
  siteUrl: string;
  status: ProjectStatus;
  technologies?: string[];
}

const { title, description, githubUrl, status, siteUrl, technologies } =
  Astro.props;
---

<li
  class="flex flex-col list-none border p-4 border-neutral-800 rounded-md text-sm"
>
  <h4 class="font-semibold text-base">
    {title}
  </h4>
  <p class="text-sm text-neutral-600 mb-8">{description}</p>

  <div class="mt-auto transition duration-300">
    <div class="flex gap-2 items-center justify-end">
      <small class="text-xs text-neutral-600 mr-auto">{status}</small>
      {
        githubUrl && (
          <a
            href={githubUrl}
            target="_blank"
            rel="noreferrer"
            class="px-3 py-1 cursor-pointer rounded-md border border-neutral-800 bg-neutral-800 text-neutral-50 transition-shadow duration-150 hover:bg-neutral-950"
          >
            Source Code
          </a>
        )
      }
      {
        status === "live" && (
          <a
            href={siteUrl}
            target="_blank"
            rel="noreferrer"
            class="cursor-pointer px-3 py-1 rounded-md border border-neutral-800 bg-neutral-800 text-neutral-50 hover:bg-neutral-950"
          >
            Visit
          </a>
        )
      }
    </div>
  </div>

  {
    technologies && (
      <div class="mt-4">
        <h5>Technologies</h5>
        {technologies.map((tech) => (
          <p>
            <span>#</span>
            {tech}
          </p>
        ))}
      </div>
    )
  }
</li>
