---
import Navbar from "../components/Navbar.astro";
import "@fontsource-variable/geist-mono";
import "../styles/global.css";

const { frontmatter } = Astro.props;
const url = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:title" content={`${frontmatter.title}`} />
    <meta property="og:type" content="article" />
    <meta
      property="og:image"
      content={`https://internetdrew.com/${frontmatter.ogImageSrc}`}
    />
    <meta
      property="og:image:secure_url"
      content={`https://internetdrew.com/${frontmatter.ogImageSrc}`}
    />
    <meta property="og:url" content={`https://internetdrew.com${url}`} />
    <meta property="og:image:type" content="image/png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:site_name" content="Internet Drew" />
    <meta name="twitter:image:alt" content={frontmatter.title} />
    <meta
      name="twitter:image"
      content={`https://internetdrew.com/${frontmatter.ogImageSrc}`}
    />
    <meta
      name="description"
      property="og:description"
      content={frontmatter.description}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content={frontmatter.author} />
    <meta name="article:published_time" content={frontmatter.pubDate} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{`${frontmatter.title} - Internet Drew`}</title>
  </head>
  <body class="pb-10">
    <Navbar />
    <main class="max-w-screen-md mx-auto px-4 md:px-0">
      <header
        class="mt-14 rounded-lg ring-1 ring-muted-foreground p-4 sm:p-8 dark:ring-muted"
      >
        <h1 class="text-lg sm:text-2xl font-semibold">
          {frontmatter.title}
        </h1>
        <p class="mt-4 max-w-screen-sm text-muted-foreground">
          {frontmatter.description}
        </p>
        {
          frontmatter.updatedDate ? (
            <p class="text-sm text-muted-foreground">
              Last updated on{" "}
              {new Date(frontmatter.updatedDate).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
                timeZone: "UTC",
              })}
            </p>
          ) : (
            <p class="mt-4 text-sm text-muted-foreground">
              Published on{" "}
              {new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
                timeZone: "UTC",
              })}
            </p>
          )
        }
      </header>

      <div
        class="my-10 prose max-w-none prose-h2:text-xl prose-h3:text-lg prose-headings:text-muted-foreground prose-a:text-pink-600 dark:prose-invert"
      >
        <slot />
      </div>
    </main>
  </body>
</html>

<style>
  html {
    scroll-padding-top: 6rem;
  }

  body {
    font-family: "Geist Variable", sans-serif;
  }
</style>
