---
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props;
---

<MainLayout title={frontmatter.title}>
  <head>
    <meta property="og:title" content={frontmatter.title} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content={`/${frontmatter.image.url}`} />
    <meta
      property="og:url"
      content="http://euro-travel-example.com/index.htm"
    />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <section class="my-10">
    <header
      class="text-center border border-slate-800 p-4 bg-pink-600 text-slate-50 rounded-lg"
    >
      <h1 class="text-2xl sm:text-3xl font-semibold">{frontmatter.title}</h1>
      <h2 class="max-w-lg mx-auto sm:text-lg">{frontmatter.description}</h2>
    </header>
    <div class="mt-10 prose">
      <slot />
    </div>
  </section>
</MainLayout>

<style>
  html {
    scroll-padding-top: 6rem;
  }
</style>
